<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iRacingSLI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="iRacingSLI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iRacingSLI.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="TopSpeed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MaxFanSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutoTopSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualFanSpeed" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="EnableManualSpeed" serializeAs="String">
                <value>False</value>
            </setting>
        </iRacingSLI.Properties.Settings>
        <iRacingSLI.Settings1>
            <setting name="Port" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="TopSpeed" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="MaxFanSpeed" serializeAs="String">
                <value>100</value>
            </setting>
        </iRacingSLI.Settings1>
    </userSettings>
</configuration>